
<div class="flex flex-col gap-2 py-5">
  <p class="flex justify-start hover:font-semibold hover:scale-105">
    <ng-icon class="text-3xl mx-5" name="heroUsers"> </ng-icon>
    <a class="text-xl text-black" href="/">Dashboard</a>
  </p>
  <p class="flex justify-start hover:font-semibold hover:scale-105">
     <ng-icon class="text-3xl mx-5" name="heroUsers"> </ng-icon>
    <a class="text-xl text-black" href="/leaderboard">Leaderboard</a>
  </p>
  <p class="flex justify-start hover:font-semibold hover:scale-105">
    <ng-icon class="text-3xl mx-5" name="heroUsers"> </ng-icon>
    <a class="text-xl text-black" href="/products">Products</a>
  </p>
  <p class="flex justify-start hover:font-semibold hover:scale-105">
     <ng-icon class="text-3xl mx-5" name="heroUsers"> </ng-icon>
    <a class="text-xl text-black" href="/orders">Orders</a>
  </p>
  <p class="flex justify-start hover:font-semibold hover:scale-105">
     <ng-icon class="text-3xl mx-5" name="heroUsers"> </ng-icon>
    <a class="text-xl text-black" href="/notes">Notes</a>
  </p>

</div>
