<div class="flex flex-col gap-2 text-center py-10">
  <ng-container *ngFor="let link of links">
    <a
      [routerLink]="link.route"
      class="cursor-pointer py-4 w-full hober    hover:scale-110 duration-300"
      [ngClass]="{ 'bg-primaryColor text-white': selectedLink === link.route }"
      (click)="selectLink(link.route)"
    >
      <ng-icon class="text-[2.5rem] mx-5" [name]="link.icon"></ng-icon>
    </a>
  </ng-container>
</div>

<!-- <ng-icon class="text-4xl mx-5" name="bootstrapArrowBarLeft"> </ng-icon>
  <ng-icon class="text-4xl mx-5" name="bootstrapArrowBarRight"> </ng-icon> -->
